body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("imgs/bg.jpg");
    background-size: ;
    background-position: bottom;
    color: white;
    font-size: 32px;
    background-size: cover;
    text-shadow: 1px black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

Set the body margin to 0 - Give the `<body>` a `0` margin. - Use the Poppins font - Use the provided image in the imgs folder To style your main `<div>` with a background image,
you will need to use: ```css background-image: url('imgs/bg.jpg');

/* you need to specify the path to the file */

background-size;

/* Use this to have the image cover the full space */

background-position
/* Use this to center the background image */

``` ### Properties Needed ``` display align-items justify-content min-height text-shadow ```